extends ../../layouts/master
block content
  h3 New Album
  a.btn.btn-default(href='/albums') Back
  
  form(method='post', action='/albums', enctype='multipart/form-data')
    label Name
    input(type='text', name='name')
    label Date
    input(type='date', name='date')
    label Photos
    input(type='file', name='photos', multiple=true)
    button.btn.btn-default(type='submit') Add
    
